/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Segoe UI", "Helvetica Neue", sans-serif;
    line-height: 1.5;
    color: black;
}

.row {
    display: flex;
    align-items: center;
    width: 100%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

html {
    font-family: "Lucida Sans", sans-serif;
}

/* Type Colors - Define once as CSS variables */
:root {
    --pokemon-blue: #2a75bb;
    --normal-color: #A8A878;
    --fire-color: #F08030;
    --water-color: #6890F0;
    --electric-color: #F8D030;
    --grass-color: #78C850;
    --ice-color: #98D8D8;
    --fighting-color: #C03028;
    --poison-color: #A040A0;
    --ground-color: #E0C068;
    --flying-color: #A890F0;
    --psychic-color: #F85888;
    --bug-color: #A8B820;
    --rock-color: #B8A038;
    --ghost-color: #705898;
    --dragon-color: #7038F8;
    --dark-color: #705848;
    --steel-color: #B8B8D0;
    --fairy-color: #EE99AC;
    --green: #78C850;
}

.header-container {
    color: #ffffff;
    padding: 10px;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #e3e3e3;
    background-image: linear-gradient(to bottom, #c1c1c1, #fff, #c1c1c1);
}

.header-container .row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-container .header-icon {
    width: 65px;
    height: 65px;
}

.header-container h1 {
    font-family: 'Press Start 2P', system-ui, sans-serif; /* Pokemon-style pixel font */
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--pokemon-blue);
    text-shadow: red 1px 0 1px;
    margin: 0;
}

.menu-button {
    display: inline-block;
    cursor: pointer;
    margin-left: 15px;
    .bar1, .bar2, .bar3 {
        width: 25px;
        height: 4px;
        background-color: #565656;
        margin: 3px 0;
        transition: 0.4s;
        border-radius: 2px;
    };
}

.open .bar1 {
    transform: translate(0, 7px) rotate(-45deg);
}

.open .bar2 {opacity: 0;}

.open .bar3 {
    transform: translate(0, -7px) rotate(45deg);
}

#nav-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

#nav-container .row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

#nav-container .search-container {
    flex: 1;
    margin-right: 10px;
}

.search-input {
    width: 100%;
    padding: 8px;
}

#nav-container nav {
    width: 100%;
}

#nav-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

#nav-container li {
    width: 100%;
    display: block;
}

#nav-container li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    width: 100%;
}

#nav-container li:hover {
    background-color: #0099cc;
}

#root.open::before {
    opacity: 1;
    pointer-events: auto;
}

#nav-container.closed {
    display: none;
}

#detail.open {
    display: none;
}

/* For tablets and larger screens: */
@media only screen and (min-width: 768px) {
    /* Column widths */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    [class*="col-"] {
        float: left;
        padding: 15px;
        border: 1px solid red;
    }
}